<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>resultados</title>
  </head>
  <body>

    <div class="container">
      <h4>Lista de cadastrados</h4>

      <div class="control-table">
        <div class="total-register">
          <label>total de registros:</label>
          <input type="text" name="value" value="0" id="totalRegister" onchange="countLines(this)" readonly>
        </div>
        <div class="button-json">
          <button onclick="seeAllRegistersInjSON()">Ver em JSON</button>
        </div>
      </div>
    
      <table border="1">
      <thead>
        <tr>
          <td>nome popular</td>
          <td>reino</td>
          <td>filo</td>
          <td>classe</td>
          <td>infraclasse</td>
          <td>ordem</td>
          <td>familia</td>
          <td>genero</td>
         <td>especie</td>
         <td>ações</td>
        </tr>
      </thead>
    <tbody>
      <% pis.forEach(function(data) { %>
        <tr>
          <td><%= data.name %> </td>
          <td><%= data.reino %> </td>
          <td><%= data.filo %></td>
          <td><%= data.classe %></td>
          <td><%= data.infraclasse %></td>
          <td><%= data.ordem %></td>
          <td><%= data.familia %></td>
          <td><%= data.genero %></td>
          <td><%= data.especie %></td>
        </tr>
      <% }) %>
      
      </tbody>

    </div>
    

    <style>

      thead {
        color: white;
      }

      thead td {
        width: 120px;
        height: 40px;
        text-align: center;
        background-color: blueviolet;
        border-color: black;
        font-weight: 700;
        font-size: 15px;
      }

      tbody td {
        width: 120px;
        height: 40px;
        text-align: center;
        background-color: chartreuse;
        border-color: black;
        font-size: 12px;
        font-weight: 400;
      }

      .button-json button {
        width: 150px;
        background-color: greenyellow;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        
      }

      .control-table {
        display: flex;
        justify-content: space-between;
      }

      .button-json {
        position: relative;
        right: 85px;
      }

      .total-register {
        display: flex;
        align-items: center;
        width: 225px;
        justify-content: space-evenly;
      }

      #totalRegister {
        width: 60px;
        border: none;
        font-size: 17px;
        font-weight: 700;
      }



    </style>

    <script>

      //função responsável por acessar a rota em JSON
      function seeAllRegistersInjSON() {
        window.location.replace("http://localhost:3000/especies/json")
      }

      //Função responsável por contar o total de registro da tabela
      function countLines() {
        const lines = document.querySelectorAll("tr")
        const register = document.getElementById('totalRegister')

        let rows = parseInt(register.value)
        register.value = lines.length - 1
      } 

     

      countLines()

    </script>

    
  </body>
</html>
