<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>resultados</title>
  </head>
  <body>

    <div class="container">
      <h4>Lista de cadastrados</h4>
    
      <table border="1">
      <thead>
        <tr>
          <td>nome popular</td>
          <td>reino</td>
          <td>filo</td>
          <td>classe</td>
         <td>infraclasse</td>
          <td>ordem</td>
          <td>familia</td>
          <td>genero</td>
         <td>especie</td>
        </tr>
      </thead>
    <tbody>
      <% pis.forEach(function(data) { %>
        <tr>
          <td><%= data.name %> </td>
          <td><%= data.reino %> </td>
          <td><%= data.filo %></td>
          <td><%= data.classe %></td>
          <td><%= data.infraclasse %></td>
          <td><%= data.ordem %></td>
          <td><%= data.familia %></td>
          <td><%= data.genero %></td>
          <td><%= data.especie %></td>
        </tr>
      <% }) %>
      
      </tbody>

          <button onclick="seeAllRegistersInjSON()">Ver em JSON</button>
    </div>
    

    <style>

      thead {
        color: white;
      }

      thead td {
        width: 120px;
        height: 40px;
        text-align: center;
        background-color: blueviolet;
        border-color: black;
      }

      tbody td {
        width: 120px;
        height: 40px;
        text-align: center;
        background-color: chartreuse;
        border-color: black;
      }

      .container button {
        width: 150px;
        background-color: greenyellow;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        
      }
    </style>

    <script>

      function seeAllRegistersInjSON() {
        window.location.replace("http://localhost:3000/especies/json")
      }
    </script>
  </body>
</html>
